<br>
<div class="container">
     <div class="row">
    <div class="form-group">
        <label>Flight No:</label>
        <input type type=text class="form-control" [(ngModel)]="data.flightNo" name="flightNo"><br>
        <label>Carrier Name:</label>
        <input type type=text class="form-control" [(ngModel)]="data.carrierName" name="carrierName"><br>
        <label>Seat Capacity:</label>
        <input type type=text class="form-control" [(ngModel)]="data.seatCapacity" name="seatCapacity"><br>
        <label>Flight Model:</label>
        <input type type=text class="form-control" [(ngModel)]="data.flightModel" name="flightModel"><br>
        <button class="btn btn-sm btn-success" (click)="addFlight()">Submit</button>
    </div>
</div>
</div>
