<!-- <h1>Flight Management System</h1> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-1 offset-sm-2">
            <button [routerLink] = "'/signup'" class="btn btn-sm btn-success">Register</button> 
        </div>
        <div class="col-md-1">
            <button [routerLink] = " '/login'" class="btn btn-sm btn-success">Login</button> 
        </div>
    </div>
</div> -->
<div>
    <div class="container" style="opacity: 1.0 !important;">
        <div class="row" style="opacity: 1.0 !important;">
            <h2 style="color: white">Signup!</h2>
        </div>
        <br>
        <div class="row">
            <app-register></app-register>
        </div>
    </div>
</div>