<div style="text-align: center; padding-left: 500px;">
  <div style="text-align: center;width: 40%;padding-top:50px;border:2px solid black">
    <div style="color:black;text-align:center">
      <h2>Welcome Admin!</h2>
    </div><br>
      <div style="text-align:center">
        <button [routerLink] = " '/flightadmin'" class= "btn btn-sm btn-info">Add/View Flights</button>
      </div><br>     
      <div style="text-align:center;padding-bottom:30px;">
        <button [routerLink] = " '/scheduleadmin' " class= "btn btn-sm btn-info">Add/View Schedule</button>
    </div>
  </div>
