<div style="text-align: center; padding-left: 500px;">
    <div style="text-align: center;width: 40%;padding-top:50px;border:2px solid black">
      <div style="color:black;text-align:center">
        <h2>Welcome User!</h2>
      </div><br>
      <div style="text-align:center">
        <button [routerLink] = " '/booking'" class= "btn btn-sm btn-info">Book A Flight</button>
      </div><br>
      <div style="text-align:center">
        <button  (click)="viewbookings()" class="btn btn btn-sm btn-info">View Bookings</button>
      </div><br>
    </div>
  </div>
